<% if params[:controller] == 'about'%>
	<div class="well">
		<h1>Location Info</h1>
		<ul>
			<li>The BookStore</li>
			<li>2415 Old Salem Rd.</li>
			<li>Conyers, GA</li>
			<li>Phone: (404) 468-8680</li>
			<li>Email: Knowledge0417@gmail.com</li>
		</ul>
	</div>
<% end -%>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
	<% @categories.each do |category| %>
		<%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
	<% end -%>
</div>
<% end -%>