<div id="books-show">
	<h2>Ruby On Rails Power</h2>
	<div class="books-show-left">
		<%= image_tag('covers/ruby_on_rails_power.jpg') %>
	</div>
	<div class="books-show-right">
		<h3>Book Info:</h3>
		<ul>
			<li><strong>Category: </strong>Ruby On Rails</li>
			<li><strong>Author: </strong>Aneesha Bakharia</li>
			<li><strong>Publisher: </strong>Course Technology PTR</li>
			<li><strong>Year: </strong>2007</li>
			<li><strong>ISBN: </strong>1598632167</li>
			<li><strong>Format: </strong>Paperback</li>
			<li><strong>Pages: </strong>678</li>
		</ul>
		<%= link_to 'Buy for $3.97', 'http://www.ebay.com/itm/Ruby-on-Rails-Power-The-Comprehensive-Guide-Power-/272097198212?hash=item3f5a41c084:g:iy8AAOSwxYxUw8R2', class: 'btn btn-success', target:'_blank' %>
	</div>
	<div class="clearfix"></div>
	<h4>Excerpt</h4>
	<p>Lorem ipsum dolor sit amet, phasellus ipsum malesuada, integer curabitur phasellus. Laoreet erat mauris, vulputate sem, at quisque tempor wisi, tempor cras ac. Ipsum vel torquent, vel diam massa dolor. Malesuada nulla pede est hymenaeos in lectus, architecto tortor amet semper. Id aliquam, venenatis dictumst nullam in at, platea ut id mauris suspendisse.</p>
</div>